# direct dependencies: utils for command line and config
click==8.1.5
GitPython==3.1.32
PyYAML==6.0

# also install all of the lightweight_mmm dependencies
-r impl/lightweight_mmm/requirements/requirements.txt
